doctype html
html
  head
    title Nicole Saldana
    link(href="/css/index.css", rel="stylesheet", type="text/css")
    link(href="https://unpkg.com/flickity@2/dist/flickity.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style.
      @import url("https://fast.fonts.net/lt/1.css?apiType=css&c=ba2c3478-26a8-4fc1-a2d1-cb861aa3710e&fontids=1121715");
      @font-face{
      font-family:"Zurich W02 Bold";
      src:url("fonts/1121715/c1aef760-4e18-4297-a640-680e38a8e936.eot?#iefix");
      src:url("fonts/1121715/c1aef760-4e18-4297-a640-680e38a8e936.eot?#iefix") format("eot"),
        url("fonts/1121715/884fa6d2-b23b-4c3e-9334-d149159f99d6.woff2") format("woff2"),
        url("fonts/1121715/9aad7e59-3930-49a3-b8ab-4936d3abee4b.woff") format("woff"),
        url("fonts/1121715/9bf86fe3-11ea-4bce-b41f-f39936b4fe3a.ttf") format("truetype");
      }
  body
    #main
      #content
        block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    script(src="/js/index.js")



